<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/view/style.css">
</head>
<body>
     <div class="conteiner">
        <div class="form-box" id="login-form">
            <form action="/auth/login" method="post">
                <h2>Login</h2>
                <input type="text" name="user" placeholder="Usuario" id="user" required>
                <input type="password" name="contrasena" placeholder="Contraseña" id="contrasena" required>
                <button type="submit" name="login">Login</button>
            </form>
        </div>
    </div>
</body>
</html>